<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lbqaq.mapper.FullMapper">
    <resultMap id="BaseResultMap" type="top.lbqaq.pojo.Full">
        <!--@mbg.generated-->
        <!--@Table `full`-->
        <result column="s_id" property="sId"/>
        <result column="a_id" property="aId"/>
        <result column="c_id" property="cId"/>
        <result column="s_state" property="sState"/>
        <result column="s_cost" property="sCost"/>
        <result column="s_num" property="sNum"/>
        <result column="c_name" property="cName"/>
        <result column="c_com" property="cCom"/>
        <result column="c_max" property="cMax"/>
        <result column="c_license" property="cLicense"/>
        <result column="c_parameter" property="cParameter"/>
        <result column="c_goodNum" property="cGoodnum"/>
        <result column="c_badNum" property="cBadnum"/>
        <result column="a_cost" property="aCost"/>
        <result column="a_state" property="aState"/>
        <result column="a_start" property="aStart"/>
        <result column="a_end" property="aEnd"/>
        <result column="a_reccom" property="aReccom"/>
        <result column="a_distance" property="aDistance"/>
        <result column="a_creatdate" property="aCreatdate"/>
        <result column="a_transdate" property="aTransdate"/>
        <result column="a_remnum" property="aRemnum"/>
        <result column="g_id" property="gId"/>
        <result column="g_name" property="gName"/>
        <result column="g_num" property="gNum"/>
        <result column="g_unit" property="gUnit"/>
        <result column="o_id" property="oId"/>
        <result column="o_name" property="oName"/>
        <result column="o_balance" property="oBalance"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        s_id, a_id, c_id, s_state, s_cost, s_num, c_name, c_com, c_max, c_license, c_parameter,
        c_goodNum, c_badNum, a_cost, a_state, a_start, a_end, a_reccom, a_distance, a_creatdate,
        a_transdate, a_remnum, g_id, g_name, g_num, g_unit, o_id, o_name, o_balance
    </sql>
    <select id="selectBySId" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `full`
        where s_id=#{sId,jdbcType=BIGINT}
    </select>

    <!--auto generated by MybatisCodeHelper on 2022-07-02-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `full`
    </select>
</mapper>