<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.lbqaq.mapper.SignMapper">
    <select id="getAllSign" resultType="SigningDTO">
        select c.c_license,
               s.s_state,
               a.a_start,
               a.a_end,
               a.a_transdate,
               s.s_num,
               s.s_id
        from slips as s,
             aggrement as a,
             car as c
        where s.a_id = a.a_id
          and s.c_id = c.c_id
    </select>

    <select id="getSignByLicenseOrDate" resultType="SigningDTO">
        select c.c_license,
        s.s_state,
        a.a_start,
        a.a_end,
        a.a_transdate,
        s.s_num,
        s.s_id
        from slips as s,
        aggrement as a,
        car as c
        <where>
            s.a_id = a.a_id
            and s.c_id = c.c_id
            <if test="license != null">
                and c.c_license = #{license}
            </if>
            <if test="date != null">
                and date_format(a.a_transdate, '%Y-%m-%d') = #{date}
            </if>
        </where>
    </select>

    <select id="getSignByNumOrDate" resultType="SigningDTO">
        select
        c.c_license,
        s.s_state,
        a.a_start,
        a.a_end,
        a.a_transdate,
        s.s_num,
        s.s_id
        from slips as s,
        aggrement as a,
        car as c
        <where>
            s.a_id = a.a_id
            and s.c_id = c.c_id
            <if test="Num != null">
                and s.s_id = #{Num}
            </if>
            <if test="date != null">
                and date_format(a.a_transdate, '%Y-%m-%d') = #{date}
            </if>
        </where>
    </select>

    <select id="getUnSign" resultType="SigningDTO" parameterType="String">
        select
        c.c_license,
        a.a_start,
        a.a_end,
        a.a_transdate,
        s.s_num,
        s.s_id
        from slips as s,
        aggrement as a,
        car as c,
        `owner` as o,
        goods as g
        <where>
            s.a_id = a.a_id
            and s.c_id = c.c_id
            and o.o_id = g.o_id
            and g.g_id = a.g_id
            <if test="name != null">
                and o.o_name = #{name}
            </if>
            <if test="date != null">
                and date_format(a.a_transdate, '%Y-%m-%d') = #{date}
            </if>
        </where>
    </select>

    <update id="updateState" parameterType="Long">
        update slips
        set s_state='已签收'
        where s_id = #{serial}
    </update>

    <update id="fundApp">
        update `owner`
        set o_balance=#{numm}
        where o_id = #{id}
    </update>

    <select id="fundSelect" resultType="int" parameterType="Long">
        select o_balance
        from `owner`
        where o_id = #{id}
    </select>
</mapper>
